.row
  .col-md-3
    %h2
      %i.glyphicon.glyphicon-flash
      Power
    %p Control the main power for all electronics except the raspberry pi.
  .col-md-9
    %input#switch-power{name: 'value', type: 'checkbox'}

.row
  .col-md-3
    %h2
      Tubes
    %p TODO Info text here
  .col-md-9
    %ul.nav.nav-tabs
      %li.active
        %a{href: '#tube-value', data: {toggle: 'tab'}} Free Value
      %li
        %a{href: '#tube-time', data: {toggle: 'tab'}} Time
      %li
        %a{href: '#tube-animation', data: {toggle: 'tab'}} Animation
      %li
        %a{href: '#tube-countdown', data: {toggle: 'tab'}} Countdown
      %li
        %a{href: '#tube-meeting', data: {toggle: 'tab'}} Meeting Counter

    .tab-content
      #tube-value.tab-pane.active
        %form.form-horizontal
          .form-group
            %label.control-label.col-sm-2{for: 'value'} Value
            .col-sm-10
              %input#tube-input.form-control{type: 'text', name: 'value', maxlength: '12'}
          .form-group
            .col-sm-offset-2.col-sm-10
              %button.btn.btn-primary{type: 'submit', value: 'Send'} GO!

      #tube-time.tab-pane
        %form.form-horizontal
          .form-group
            %label.control-label.col-sm-2{for: 'time_format'} Time format
            .col-sm-10
              %input.form-control{type: 'text', name: 'time_format', class: 'input-xlarge', value:'%H%M%S'}
          .form-group
            .col-sm-offset-2.col-sm-10
              %button.btn.btn-primary{type: 'submit', value: 'Send'} GO!

      #tube-countdown.tab-pane
        .col-sm-6
          %form.form-horizontal
            .form-group
              %label.control-label.col-sm-2{for: 'value'} Value
              .col-sm-6
                %input#tube-countdown.form-control{type: 'text', name: 'value', maxlength: '12'}
            .form-group
              .col-sm-offset-2.col-sm-10
                %button.btn.btn-primary{type: 'submit', value: 'Send'} GO!
        .col-sm-6
          %h3 Countdown examples
          %list-unstyled
            %li 12.4 secs
            %li 1:20
            %li 1:20.51
            %li 4:01:01
            %li 3 mins 4 sec
            %li 2 hrs 20 min
            %li 2h30min
            %li 6 mos 1 day
            %li 47 yrs 6 mos and 4d
            %li two hours and twenty minutes
            %li 3 weeks and 2 days

      #tube-animation.tab-pane
        %form.form-horizontal
          .form-group
            %label.control-label.col-sm-2{for: 'animation'} Animation Name
            .col-sm-10
              %select#tube-animation.form-control{name: 'animation_name', data: {placeholder: 'Select animation'}}
                %option{value: 'switch_numbers'} switch numbers
                %option{value: 'single_fly_in'} fly in
          .form-group
            %label.control-label.col-sm-2{for: 'options'} Options JSON
            .col-sm-10
              %textarea#tube-animation-options{name: 'options', rows: '10', class:'input-xlarge'}
          .form-group
            .col-sm-offset-2.col-sm-10
              %button.btn.btn-primary{type: 'submit', value: 'Send'} GO!

      #tube-meeting.tab-pane
        %form.form-horizontal
          .form-group
            %label.control-label.col-sm-2{for: 'participants'} Participants
            .col-sm-10
              %input.form-control{type: 'text', name: 'participants'}
          .form-group
            %label.control-label.col-sm-2{for: 'rate'} Hourly rate
            .col-sm-10
              %input.form-control{type: 'text', name: 'rate'}
          .form-group
            .col-sm-offset-2.col-sm-10
              %button.btn.btn-primary{type: 'submit', value: 'Send'} GO!

.row
  .col-md-3
    %h2
      Lamps
    %p TODO Info text here
  .col-md-9
    %form.form-horizontal
      .form-group
        %label.control-label.col-sm-2{for: 'lamps'} Lamps
        .col-sm-10
          - @no_of_lamps.times.with_index do |index|
            %input.lamp{name: 'value', type: 'checkbox', data: {id: index}}

.row
  .col-md-3
    %h2
      Bars
    %p TODO Info text here
  .col-md-9
    %ul.nav.nav-tabs
      %li.active
        %a{href: '#bars-value', data: {toggle: 'tab'}} Free Value
      %li
        %a{href: '#bars-animation', data: {toggle: 'tab'}} Animation

    .tab-content
      #bars-value.tab-pane.active
        %form.form-horizontal
          .form-group
            %label.control-label.col-sm-2{for: 'lamps'} Bars
            .col-sm-10
              -@no_of_bars.times.with_index do |i|
                %input.bar{type: 'range', name: 'value', data: {id: i, slider_min: 0, slider_max: 255, slider_step: 1, slider_value: 0}}
                %br/

      #bars-animation.tab-pane
        %form.form-horizontal
          .form-group
            %label.control-label.col-sm-2{for: 'id'} Bar
            .col-sm-10
              %select.form-control{name: 'id'}
                -@no_of_bars.times.with_index do |i|
                  %option{selected: '', value: "#{i}"}= "Bar #{i}"
          .form-group
            %label.control-label.col-sm-2{for: 'lamps'} Animation
            .col-sm-10
              %select.form-control{name: 'animation_name'}
                %option{selected: 'selected', value: 'ramp_up_down'} ramp up down
          .form-group
            %label.control-label.col-sm-2{for: 'lamps'} Options (Hash)
            .col-sm-10
              %textarea.form-control{name: 'options', rows: '10'}
              %input{type: 'hidden', name: 'state', value: 'animation'}
          .form-group
            .col-sm-offset-2.col-sm-10
              %button.btn.btn-primary{type: 'submit', value: 'Send'} GO!

.row
  .col-md-3
    %h2
      Background
    %p TODO Info text here
  .col-md-9
    %form.form-horizontal
      .form-group
        %label.control-label.col-sm-2{for: 'lamps'} Tube Background
        .col-sm-10
          %input#background-slider{type: 'text', name: 'value', data: {slider_min: 0, slider_max: 255, slider_step: 1, slider_value: 0}}

.row
  .col-md-3
    %h2
      Ambient Light
    %p TODO Info text here
  .col-md-9
    %form.form-horizontal
      .form-group
        %label.control-label.col-sm-2{for: 'participants'} Color
        .col-sm-10
          %input.form-control{type: 'text', id:'color_field', name:'value', value:'#ffffff'}
      .form-group
        .col-sm-offset-2.col-sm-10
          #colorpicker
      .form-group
        .col-sm-offset-2.col-sm-10
          %button.btn.btn-primary{type: 'submit', value: 'Send'} GO!