.row.row-divider
  .span2
    %h3 Scheduler
  .span6
    %form#scheduler{ action: "/scheduler", method: "POST", class: "form-horizontal", "data-remote" => true}
      %input{type: "hidden", name: "initial", value: "1"}
      .control-group
        %label.control-label
          %i.icon-repeat.icon-large
        .controls
          %select#method{name: "method", class: "chzn-select", "data-placeholder" => "Select Timing", style:"width:300px;"}
            %option
            %option{value: "in"} in
            %option{value: "at"} at
            %option{value: "every"} every
            %option{value: "cron"} cron
      .control-group
        %label.control-label
          %i.icon-time.icon-large
        .controls
          %input#time{type: "text", name: "timing", class: "input-xlarge", }

      .control-group
        %label.control-label
          %i.icon-screenshot.icon-large
        .controls
          %select#receivers{name: "target", class: "chzn-select", "data-placeholder" => "Select receiver", style:"width:300px;"}
            %option
      .control-group
        %label.control-label
          %i.icon-edit.icon-large
        .controls
          %textarea#command{name: "command", rows: "10", class:"input-xlarge"}
      /.control-group
      /  %label.control-label
      /    %i.icon-lock.icon-large
      /  .controls
      /    %label.checkbox
      /      %input{type: "checkbox", name: "lock", class: "input-medium"}
      /      Lock target
      .control-group
        .controls
          %button{type: "submit",class:"btn btn-success"}
            Schedule
  .span4
    #cron{style:"display: none;"}



.row.divider
  .span2
    %h2 Running
  .span6
    -if @schedules.empty?
      %p No jobs
    -else
      %table
        %thead
          %tr
            %td
              %i.icon-repeat.icon-large
            %td
              %i.icon-time.icon-large
            %td
              %i.icon-screenshot.icon-large
            %td
              %i.icon-edit.icon-large
            %td
              %i.icon-lock.icon-large
            %td
        %tbody
        -@schedules.each do |s|
          %tr
            %td=s.method
            %td=s.timing
            %td=s.target
            %td=s.command
            %td=s.lock
            %td
              %a{class:"delete-schedule", href:"#", "data-id" => "#{s.id}"}
                %i.icon-remove-sign
              /%form{:action => "/scheduler/#{s.id}", :method => "post"}
              /  %input{ name:"_method", type:"hidden", value:"delete"}
              /  %button{type: "submit", value: "x"} x




