!!!
%head
  %meta{:charset => "utf-8"}
    %title Nixon-&#960;
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}

    != css :styles




    /fonts
    %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Lobster+Two:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Share+Tech+Mono|Montserrat+Subrayada:400,700|Allerta+Stencil", :rel => "stylesheet", :type => "text/css"}

    != js :app
    /javascript

    /compile:  $ lessc public/less/application.less > public/css/style.css
    /source: http://stackoverflow.com/questions/11481203/how-to-start-using-twitter-bootstrap-and-sass-in-a-sinatra-project
%body
  .navbar.navbar-fixed-bottom
    .navbar-inner
      .container
        %ul.nav
          %li
            %a{href: "/"}
              %i.icon-cogs.pull-left
              Control
          %li{style:"height:30px;"}
            %a{href: "/scheduler.html"}
              %i.icon-tasks.pull-left
              Scheduler
          %li{style:"height:30px;"}
            %a{href: "/logs.html"}
              %i.icon-list-alt.pull-left
              Log
          %li{style:"height:30px;"}
            %a{href: "http://danielkummer.github.com/nixon-pi/#api"}
              %i.icon-exchange.pull-left
              API
  .container
    .content
      .row
        .span3
          .hero-unit
            %form{action: "/power", method: "post", class:""," data-remote" => "true"}
              %label{for:"power-value", style: "float:left;padding-left:5px"}
                %i.icon-bolt.icon-4x.pull-left
              #power-toggle-button.toggle-button
                /TODO!!!!!!!!
                /-if NixonPi::PowerDriver.instance.on?
                -if false
                  %input.checkbox{:checked => "checked", id: "power-value", :name => "value", :type => "checkbox", :value => "1"}
                -else
                  %input.checkbox{id: "power-value", :name => "value", :type => "checkbox", :value => "1"}
        .span6
          .hero-unit
            %h1
              Nixon
              %span
                %img{src:"images/nixie-tube.png", alt:"nixie-tube", height: "200px"}

        .span3
          #alert-container{"data-spy"=>"affix", "data-offset-top"=>"-20"}


      .row
        = yield

  %footer.footer

