.sixteen.columns
  %h1.remove-bottom{:style => "margin-top: 40px"} NixieBerry Control
  %hr/
.one-third.column
  %h3 Tube Control
  %form{ :action => "/tubes", :method => "POST"}
    %fieldset
      %ul
        %li
          %label{:for => "value"} Tube values:
          %input{:type => "text", :name => "value", :class => "text"}
      %input{:type => "hidden", :name => "mode", :value => "display_free_value"}
      %input{:type => "submit", :value => "Send", :class => "button"}

  %form{ :action => "/tubes", :method => "POST"}
    %fieldset
      %ul
        %li
          %label{:for => "value"} Time Format
          %input{:type => "text", :name => "value", :class => "text", value: "%H%M%S"}
      %input{:type => "hidden", :name => "mode", :value => "display_time"}
      %input{:type => "submit", :value => "Send", :class => "button"}

  %form{ :action => "/tubes", :method => "POST"}
    %fieldset
      %ul
        %li
          %label{:for => "body"} Animation:
          %select{:name => "value"}
            %option{:selected => "", :value => "switch_numbers"} switch numbers
            %option{:value => "single_fly_in"} fly in
        %li
          %label{:for => "value"} Options (Hash)
          %input{:type => "text", :name => "options", :class => "text"}
      %input{:type => "hidden", :name => "mode", :value => "display_tube_animation"}
      %input{:type => "submit", :value => "Send", :class => "button"}


  %form{ :action => "/tubes", :method => "POST"}
    %fieldset
      %ul
        %li
          %label{:for => "body"} Test:
      %input{:type => "hidden", :name => "mode", :value => "display_test"}
      %input{:type => "submit", :value => "Test", :class => "button"}
.one-third.column
  %h3 Bar Control
  .bar-control
    %form{ :action => "/bars", :method => "POST"}
      %fieldset
        %ul
          %li
            %label{:for => "value"} Bar values 0 - 255:
            %input{:type => "text", :name => "values[]", :class => "text", value: "0"}
            %input{:type => "text", :name => "values[]", :class => "text", value: "0"}
            %input{:type => "text", :name => "values[]", :class => "text", value: "0"}
            %input{:type => "text", :name => "values[]", :class => "text", value: "0"}
        %input{:type => "hidden", :name => "mode", :value => "display_free_value"}
        %input{:type => "submit", :value => "Send", :class => "button"}
.one-third.column
  %h3 Lamp Control
  %form{ :action => "/lamps", :method => "POST"}
    %fieldset
      %ul
        %li
          %label{:for => "value"} Lamp values 0 or 1:
          %input{:type => "text", :name => "values[]", :class => "text", value: "0"}
          %input{:type => "text", :name => "values[]", :class => "text", value: "0"}
          %input{:type => "text", :name => "values[]", :class => "text", value: "0"}
          %input{:type => "text", :name => "values[]", :class => "text", value: "0"}
      %input{:type => "hidden", :name => "mode", :value => "display_free_value"}
      %input{:type => "submit", :value => "Send", :class => "button"}
