%form{ :action => "/tubes", :method => "POST"}
  %fieldset
    %ol
      %li
        %label{:for => "value"} Tube values:
        %input{:type => "text", :name => "value", :class => "text"}
    %input{:type => "hidden", :name => "mode", :value => "display_free_value"}
    %input{:type => "submit", :value => "Send", :class => "button"}

%form{ :action => "/tubes", :method => "POST"}
  %fieldset
    %ol
      %li
        %label{:for => "value"} Time Format
        %input{:type => "text", :name => "value", :class => "text", value: "%H%M%S"}
    %input{:type => "hidden", :name => "mode", :value => "display_time"}
    %input{:type => "submit", :value => "Send", :class => "button"}

%form{ :action => "/tubes", :method => "POST"}
  %fieldset
    %ol
      %li
        %label{:for => "body"} Animation:
        %select{:name => "value"}
          %option{:selected => "", :value => "switch_numbers"} slide
          %option{:value => "single_fly_in"} count
      %li
        %label{:for => "value"} Options (Hash)
        %input{:type => "text", :name => "value", :class => "text"}
    %input{:type => "hidden", :name => "mode", :value => "display_tube_animation"}
    %input{:type => "submit", :value => "Send", :class => "button"}


%form{ :action => "/tubes", :method => "POST"}
  %fieldset
    %ol
      %li
        %label{:for => "body"} Test:
    %input{:type => "hidden", :name => "mode", :value => "test"}
    %input{:type => "submit", :value => "Test", :class => "button"}