.span10
  %h2 Tubes
  %form{ :action => "/tubes", :method => "POST", :class=> "form-horizontal"}
    %fieldset
      %input{:type => "hidden", :name => "mode", :value => "free_value"}
      %input{:type => "text", :name => "value", :class => "input-tubes search-query  span8"}
      %input{:type => "submit", :value => "Send", :class => "btn btn-large"}
      %label Mode
      %select{:name => "mode", :class => "input_mode"}
        %option{:selected => "", :value => "free_value"} Free value
        %option{:value => "time_format"} Time format
        %option{:value => "tube_animation"} Tube animation
        %option{:value => "countdown"} Countdown

      %label Animation Name
      %select{:name => "animation_name"}
        %option{:selected => "", :value => "switch_numbers"} switch numbers
        %option{:value => "single_fly_in"} fly in

      %label{:for => "value"} Options (Hash)
      %input{:type => "text", :name => "animation_options", :class => "text"}


.span12
  .offset-by-eight
  %h3 Lamp Control
  %form{ :action => "/lamps", :method => "POST"}
    %fieldset
      %ul
        %li
          %label{:for => "value"} Lamp values:
        -@lamps.each do |lamp|
          off
          %input{:type => "range", :name => "values[]", :class => "range", min: "0", max: "1", value: "0"}
          on
          %br
      %input{:type => "hidden", :name => "mode", :value => "free_value"}
      %input{:type => "submit", :value => "Send", :class => "button"}
  %hr/

.one-fourth.column
  %h3 Speech Control
  %form{ :action => "/say", :method => "POST"}
  %fieldset
    %ul
      %li
        %label{:for => "value"} Say what?:
        %input{:type => "text", :name => "value", :class => "text"}

    %input{:type => "submit", :value => "Send", :class => "button"}