%h1 Hardware info

%p Shows what hardware was detected and is functioning properly...

%dl.dl-horizontal
  %dt RTC
  %dd= locals[:info].rtc
  %dt IO
  %dd= locals[:info].io
  %dt ADC
  %dd= locals[:info].adc
  %dt PWM
  %dd= locals[:info].pwm


