!!!
%head
  %meta{:charset => "utf-8"}
    %title NixieBerry Control
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    %link{:href => "css/base.css", :rel => "stylesheet"}
    %link{:href => "css/skeleton.css", :rel => "stylesheet"}
    %link{:href => "css/layout.css", :rel => "stylesheet"}
%body
  .container
    = yield