.row.row-divider
  .span2
    %h2 Scheduler
  .span6
    =@commands.to_json
    %form{ action: "/scheduler", method: "POST", class: "", "data-remote" => true}
      .control-group
        %select{name: "type", class: "chzn-select", "data-placeholder" => "Select Timing", style:"width:300px;"}
          %option
          %option{value: "in"} in
          %option{value: "at"} at
          %option{value: "every"} every
          %option{value: "cron"} cron


      .control-group
        #cron{style:"display: none;"}
        .input-append
          %input#time{type: "text", name: "time", class: "input-xlarge", placeholder: "Time"}
            .btn-group
              %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
                ?
                %span.caret
              %ul#time-defaults.dropdown-menu
                %li
                  %a{:href => "#"} 20m
                %li
                  %a{:href => "#"} 1w2d
                %li.divider
                %li
                  %a{:href => "#"} Thu Mar 28 07:31:43 +0100 2013

      .control-group
        %select#target{name: "queue", class: "chzn-select", "data-placeholder" => "Select Target", style:"width:300px;"}
          %option
          %option{value: "power"} Power
          %option{value: "tubes"} Tubes
          %option{value: "Bars"} Bars
          %option{value: "Lamps"} Lamps
          %option{value: "Say"} Say
      .control-group
        %textarea{name: "command", rows: "5"}
      .control-group
        %input{type: "submit", value:"Schedule", class:"btn"}
  .span4



.row.divider
  .span2
    %h2 Running
  .span6
    %form{:action => "/scheduler", :method => "post"}
      %input{ name:"_method", type:"hidden", value:"delete"}
      =@running.each do |r|
        %p= r.to_s
